Books
Brain Trust
Budget.gnucash
Blog/
Certificates/
Code/
Clinton Traffic Data/
Database Backups/
Desktop/
Documents/
Downloads/
Education
Finances
Google Photos/
Graduation
Health/
House
Home
Insurance
Manuals/
Music
Old Documents/
Pictures
Photos/
Printed/
Programming
Reading/
Receipts
Recipes/
Scanned
School
Sent/
Uploads/
Versioned/
Videos
Work
XC
*.desktop
.adobe/
.asoundrc
.audacity-data/
.bash_history
.bashrc_local
.cache/
.furiusisomount/
.ghc
.goutputstream*
.local/bin/.vvpmount
.local/bin/.vvprand
.local/bin/.vpprand
.profile_local
.sudo_as_admin_successful
.vim/spell/
.Xauthority*
.xsession-errors*
*.swp
.jack3rc~
.lesshst
.local/lib/
.local/share/
.pulse-cookie
.pulse/
.sqlite_history
.thumbnails/
.thunderbird/
.mysql_history
.vim/.netrwhist
.viminfo
.face
.flotrack-cookies
.subversion/
C:\\nppdf32Log\\debuglog.txt
.ICEauthority
.SAGA
.Skype/
.VirtualBox/
.aptitude/
.aqbanking/
.bogofilter/
.compiz-1/
.compiz/
.config/
.dbus/
.dmrc
.dvdcss/
.dvdrip/
.dvdriprc
.eclipse/
.elinks/
.emma/
.esd_auth
.fontconfig/
.gconf/
.gconfd/
.gd/
.gdignore
.gegl-0.0/
.gimp*/
.gksu.lock
.gnome/
.gnome2/
.gnupg/
.googleearth/
.gourmet/
.gstreamer-0.10/
.gtk-bookmarks
.gnucash/
.guvcviewrc
.icedtea/
.icons/
.java/
.libreoffice/
.liferea_1.8/
.local/gopath/
.macromedia/
.mono/
.mozilla/
.mtab.fuseiso
.mysql/
.pki
.pylint.d/
.recently-used
.registry
.rpmdb/
.ssh/
.synaptic/
.wine/
.wireshark/
.wxMaxima
.xine/
.xmaximarc
