Books
Brain Trust
Budget.gnucash
Code/
Desktop/
Documents/
Downloads/
Education
Finances
Graduation
House
Insurance
Music
Pictures
Photos/
Printed/
Programming
Receipts
Scanned
School
SyncDrive/
Transactions.gnucash
Ubuntu One/
Uploads/
Versioned/
Videos
Work
XC
.bash_history
.goutputstream*
.local/bin/.vvp*
.sudo_as_admin_successful
.vim/spell/
.Xauthority*
.xsession-errors*
*.swp
