Books
Brain Trust
Budget.gnucash
Code/
Desktop/
Documents/
Downloads/
Education
Finances
Graduation
House
Insurance
Music
Pictures
Photos/
Printed/
Programming
Receipts
Scanned
School
SyncDrive/
Transactions.gnucash
Ubuntu One/
Uploads/
Versioned/
Videos
Work
XC
.bash_history
.bashrc_local
.goutputstream*
.local/bin/.vvp*
.profile_local
.sudo_as_admin_successful
.vim/spell/
.Xauthority*
.xsession-errors*
*.swp
.jack3rc~
.local/bin/
.local/lib/
.local/share/
.sqlite_history
.thumbnails/
.thunderbird/
.mysql_history
.vim/.netrwhist
.face
.flotrack-cookies
.audacity-data/
.subversion/

.adobe/
.cache/
