[Desktop Entry]
Type=Application
MimeType=application/x-gnucash;
Version=0.9.4
Name=Budget
Name[bg]=Управление на финансите с GnuCash
Name[ca]=Gestor de finances GnuCash
Name[cs]=Správa financí GnuCash
Name[de]=GnuCash Finanzmanager
Name[el]=Διαχείριση οικονομικών GnuCash
Name[en_GB]=GnuCash Finance Management
Name[es]=Gestión de finanzas GnuCash
Name[fr]=Gestionnaire de finances GnuCash
Name[hu]=GnuCash Pénzügyi Igazgatás
Name[it]=Gestore delle finanze GnuCash
Name[ja]=GnuCash 財務管理
Name[ko]=GnuCash 재정 관리
Name[lv]=GnuCash finanšu pārvaldība
Name[nb]=GnuCash finansforvaltning
Name[ne]=जिएनयुक्यास वित्त व्यवस्थापन
Name[nl]=GnuCash-financieel management
Name[pl]=GnuCash Zarządzanie Finansami
Name[pt_BR]=Gerenciador de Finanças GnuCash
Name[ro]=GnuCash - administrarea finanţelor
Name[ru]=GnuCash - Управление финансами
Name[sk]=Gnucash finančný manažment
Name[uk]=Керування фінансами GnuCash
Name[vi]=Quản lý Tài chính GnuCash
Name[zh_CN]=GnuCash 财务管理
Name[zh_TW]=GnuCash 財務管理
Comment=Manage your finances, accounts, and investments
Comment[bg]=Управлявайте финанси, сметки и инвестиции
Comment[ca]=Gestioneu les vostres finances, comptes i inversions
Comment[cs]=Spravovat vaše finance, účty a investice
Comment[de]=Verwaltung der Finanzen von Privatanwendern und Kleinbetrieben.
Comment[en_GB]=Manage your finances, accounts, and investments
Comment[es]=Gestione sus finanzas, cuentas e inversiones
Comment[eu]=Kudeatu zure finantzak, kontuak eta inbertsioak
Comment[fr]=Gérez vos finances, vos comptes et vos investissements
Comment[hu]=Igazgassa pénzügyeit, számláit és befektetéseit
Comment[it]=Gestisce le proprie finanze, i conti e gli investimenti
Comment[ja]=財務、口座および投資を管理します
Comment[ko]=재정, 계정 및 투자 관리
Comment[lv]=Pārvaldiet savas finanses, kontus un investīcijas
Comment[nb]=Forvalt dine finanser, kontoer og investeringer
Comment[ne]=तपाईँको वित्तहरू, खाताहरू, र लगानीहरू प्रबन्ध गर्नुहोस्
Comment[nl]=Om uw financiën, rekeningen en investeringen te beheren
Comment[pl]=Zarządzaj swoimi finansami, kontami i inwestycjami
Comment[pt_BR]=Gerencie suas finanças, contas e investimentos
Comment[ro]=Administrează-ţi finanţele, conturile şi investiţiile
Comment[ru]=Управляйте своими финансами, счетами и инвестициями
Comment[ta]=உங்க‌ளுடைய‌ நிதிக‌ள், க‌ண‌க்குக‌ள் ம‌ற்றும் முத‌லீடுக‌ளை நிர்வ‌கிக்க‌வும்
Comment[uk]=Керування вашими фінансами, рахунками та інвестиціями
Comment[vi]=Quản lý tài chính, các tài khoản và vốn cố định
Comment[zh_CN]=管理你的财务、账户和投资
Exec=gnucash /home/karl/Finances/Budget/Budget.gnucash
Icon=gnucash-icon
StartupNotify=true
Terminal=false
Categories=Office;Finance;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=GnuCash
X-GNOME-Bugzilla-Component=General
X-GNOME-Bugzilla-Version=2.4.7
X-GNOME-DocPath=gnucash/gnucash.xml
